<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rummytitans.sdk.cardgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name="com.rummytitans.sdk.cardgame.MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/my_backup_file"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RummyAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup, android:fullBackupContent">
        <activity
            android:name=".ui.SdkScreen"
            android:exported="false" />
        <activity
            android:name=".ui.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.rummytitans.sdk.cardgame.utils.locationservices.uiModules.RequestGPSActivity"
            android:exported="false"
            android:theme="@style/Theme.DialogActivity" />
        <activity
            android:name=".ui.deeplink.DeepLinkActivityRummy"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.launcher.SDKSplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RummySdk_SplashAppTheme">
        </activity>
        <activity
            android:name=".ui.RummyMainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RummySdk_addressVerificationDarkHome" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".games.locationBottomSheet.LocationBottomSheetActivity"
            android:exported="false"
            android:theme="@style/Theme.DialogActivity" />
        <activity
            android:name="com.rummytitans.sdk.cardgame.utils.locationservices.uiModules.RequestPermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.DialogActivity" />
        <activity
            android:name=".utils.permissions.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.DialogActivity" />
        <activity
            android:name=".games.rummy.RummyWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/RummyAppTheme.FullScreen" />
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.refer.RummySDKReferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.refer.ReferEarnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.refer.ShareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.contectList.ContactListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.wallet.RummyAddCashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.games.tickets.GamesTicketActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.common.CommonFragmentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.WebPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.payment.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name="com.rummytitans.sdk.cardgame.widget.cropImage.CropImageActivity"
            android:theme="@style/CropImage.Theme.Transprent" />
        <activity
            android:name=".ui.verifications.VerificationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.verifications.WebAutoAddressVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.payment.PaymentOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme" />
        <activity
            android:name=".ui.verifications.RummySDKAddressVerificationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/RummyAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.updatePhone.UpdatePhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.wallet.withdrawal.WithdrawalDoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.withdrawal.WithdrawDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>